### Khang Tran Homework 04 Evaluation

In [24]:
import pandas as pd 
import numpy as np
import os 

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

df = pd.read_csv(os.path.join(os.getcwd(),"Data",'bank-full.csv'), sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [19]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [20]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

### Dataset preparation:

In [ ]:
df = df[['age','job','marital','education','balance','housing','contact','day','month','duration','campaign','pdays','previous','poutcome','y']]
X = df.drop('y',axis=1)
y = df['y']
y = (df['y'] == 'yes').astype(int)
y

X_train, X_va_trainval, X_test, y_trainval, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
Xl, y_train, y_val = train_test_split(X_trainval, y_trainval, test_size=0.25, random_state=1)

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

### Q1. ROC AUC Feature Importance:

### Q2. Training the model:

In [22]:
# Convert your DataFrame rows into dictionaries
train_dicts = X_train.to_dict(orient='records')
val_dicts = X_val.to_dict(orient='records')
test_dicts = X_test.to_dict(orient='records')

# Initialize and fit the DictVectorizer
vec = DictVectorizer(sparse=True)

X_train = vec.fit_transform(train_dicts)
X_val = vec.transform(val_dicts)
X_test = vec.transform(test_dicts)

In [31]:
lr = LogisticRegression(solver= 'liblinear', C=1.0, max_iter=1000)
lr.fit(X_train, y_train)
y_pred_val = lr.predict_proba(X_val)[:, 1]

# Compute AUC
round(roc_auc_score(y_val, y_pred_val),3)

0.9

### Q3. Precision and Recall:

### Q4. F1 Score:

### Q5. 5-Fold CV:

### Q6. Hyperparameter Tuning: